<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.cn.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.cn.bean.Student" >
    <id column="student_number" property="studentNumber" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    student_number, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where student_number = #{studentNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where student_number = #{studentNumber,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swjtu.cn.bean.Student" >
    insert into student (student_number, password)
    values (#{studentNumber,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.swjtu.cn.bean.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentNumber != null" >
        student_number,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentNumber != null" >
        #{studentNumber,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swjtu.cn.bean.Student" >
    update student
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where student_number = #{studentNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swjtu.cn.bean.Student" >
    update student
    set password = #{password,jdbcType=VARCHAR}
    where student_number = #{studentNumber,jdbcType=INTEGER}
  </update>
</mapper>