<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sist.schoolmate.mapper.DonateMapper" >
  <resultMap id="BaseResultMap" type="org.sist.schoolmate.bean.Donate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="donator" property="donator" jdbcType="VARCHAR" />
    <result column="donate_time" property="donateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, money, donator, donate_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from donate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from donate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.sist.schoolmate.bean.Donate" >
    insert into donate (id, money, donator, 
      donate_time)
    values (#{id,jdbcType=INTEGER}, #{money,jdbcType=VARCHAR}, #{donator,jdbcType=VARCHAR}, 
      #{donateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.sist.schoolmate.bean.Donate" >
    insert into donate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="donator != null" >
        donator,
      </if>
      <if test="donateTime != null" >
        donate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="donator != null" >
        #{donator,jdbcType=VARCHAR},
      </if>
      <if test="donateTime != null" >
        #{donateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.sist.schoolmate.bean.Donate" >
    update donate
    <set >
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="donator != null" >
        donator = #{donator,jdbcType=VARCHAR},
      </if>
      <if test="donateTime != null" >
        donate_time = #{donateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sist.schoolmate.bean.Donate" >
    update donate
    set money = #{money,jdbcType=VARCHAR},
      donator = #{donator,jdbcType=VARCHAR},
      donate_time = #{donateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>