<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chudian.mj.mapper.LogHistoryMapper">
  <resultMap id="BaseResultMap" type="org.chudian.mj.bean.LogHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="operaton_time" jdbcType="TIMESTAMP" property="operatonTime" />
    <result column="operation_content" jdbcType="VARCHAR" property="operationContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, operation_type, operaton_time, operation_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history (id, user_id, operation_type, 
      operaton_time, operation_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{operationType,jdbcType=VARCHAR}, 
      #{operatonTime,jdbcType=TIMESTAMP}, #{operationContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="operatonTime != null">
        operaton_time,
      </if>
      <if test="operationContent != null">
        operation_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        #{operatonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        #{operationContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        operaton_time = #{operatonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        operation_content = #{operationContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    set user_id = #{userId,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operaton_time = #{operatonTime,jdbcType=TIMESTAMP},
      operation_content = #{operationContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.chudian.mj.bean.LogHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="operaton_time" jdbcType="TIMESTAMP" property="operatonTime" />
    <result column="operation_content" jdbcType="VARCHAR" property="operationContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, operation_type, operaton_time, operation_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="org.chudian.mj.bean.LogHistoryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_history
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.chudian.mj.bean.LogHistoryKey">
    delete from log_history
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history (id, user_id, operation_type, 
      operaton_time, operation_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{operationType,jdbcType=VARCHAR}, 
      #{operatonTime,jdbcType=TIMESTAMP}, #{operationContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="operatonTime != null">
        operaton_time,
      </if>
      <if test="operationContent != null">
        operation_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        #{operatonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        #{operationContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    <set>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        operaton_time = #{operatonTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationContent != null">
        operation_content = #{operationContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    set operation_type = #{operationType,jdbcType=VARCHAR},
      operaton_time = #{operatonTime,jdbcType=TIMESTAMP},
      operation_content = #{operationContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and user_id = #{userId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="org.chudian.mj.bean.LogHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="operaton_time" jdbcType="DATE" property="operatonTime" />
    <result column="operation_content" jdbcType="VARCHAR" property="operationContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, operation_type, operaton_time, operation_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from log_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history (id, user_id, operation_type, 
      operaton_time, operation_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{operationType,jdbcType=VARCHAR}, 
      #{operatonTime,jdbcType=DATE}, #{operationContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.chudian.mj.bean.LogHistory">
    insert into log_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="operatonTime != null">
        operaton_time,
      </if>
      <if test="operationContent != null">
        operation_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        #{operatonTime,jdbcType=DATE},
      </if>
      <if test="operationContent != null">
        #{operationContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operatonTime != null">
        operaton_time = #{operatonTime,jdbcType=DATE},
      </if>
      <if test="operationContent != null">
        operation_content = #{operationContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.chudian.mj.bean.LogHistory">
    update log_history
    set user_id = #{userId,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operaton_time = #{operatonTime,jdbcType=DATE},
      operation_content = #{operationContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>